<!DOCTYPE html>
<html>
<head>
  <title>TicketPunch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %> 

  <% unless current_user %>
    <nav>
      <!-- <a href="/">Home</a> -->


<!--       <a href="/users/log-in">Log-In</a>
 -->      
      <h3>Sign In</h3>
          <%= form_tag('/sessions', method:'post') do %>
          <%= label_tag :username %>
          <%= text_field_tag :username %>

          <%= label_tag :password %>
          <%= password_field_tag :password %>

         <%= submit_tag('Log-In')%>
        <% end %>

       <h4>
       <button class="btn btn-embossed btn-primary">
          <a href="/users/new">New User</a>
       </button>
        </h4>



    </nav>
  <% end %>

</body>
</html>
